# .github/workflows/toc_generator.yml

name: Generador de TOC

# Define cuándo se ejecutará el flujo de trabajo
on:
  push:
    # Se ejecuta en cada 'push' al repositorio
    branches:
      - main
      - master
 
permissions:
  contents: write # ¡Esto otorga permiso para escribir en el repositorio!
 
# Define los trabajos (jobs) que se ejecutarán
jobs:
  generateTOC:
    # Nombre del trabajo
    name: TOC Generator
    # El tipo de máquina que se usará para ejecutar el trabajo
    runs-on: ubuntu-latest
    
    steps:
      # Paso 1: Obtiene el código del repositorio
      - name: Checkout
        uses: actions/checkout@v4
        
      # Paso 2: Ejecuta la acción que genera la TOC
      # Esta acción busca automáticamente los marcadores
      - name: Generate TOC
        uses: technote-space/toc-generator@v4
        with:
          # Token de GitHub para permitir que la acción haga un commit
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # Mensaje del commit que se creará
          COMMIT_MESSAGE: 'chore(docs): TOC actualizada automáticamente'